@using BlazorHRM.Shared.Domain
@inject NavigationManager NavManager

<h3>EmployeeCard</h3>
<div class="col">
    <div class="card rounded-3" style="width: 18rem;">
        <div class="card-header py-3">
            <h4>@Employee.FirstName @Employee.LastName</h4>
        </div>
        <div class="card-body text-center">
            <div class="mb-3">
                <img src="@($"images/{Employee.FirstName.ToLower()}_profile.jpg")" class="employee-img rounded-circle"/>
            </div>
            <button
                class="btn btn-primary btn-sm mb-1"
                @onclick="@(async()=> await EmployeeQuickViewClicked.InvokeAsync(Employee))">
                Quick View
            </button>
            @* <a href="@($"employeedetail/{Employee.EmployeeId}")" class="btn btn-outline-primary">Full details</a> *@
            <button class="btn btn-outline-primary"
                    @onclick="(() => NavigateToDetails(Employee))">
                Full details
            </button>
        </div>
    </div> 
</div>

@code {
    [Parameter]
    public Employee Employee { get; set; } = default!;
    [Parameter]
    public EventCallback<Employee> EmployeeQuickViewClicked { get; set; }
    protected override void OnInitialized() 
    {
        if(string.IsNullOrEmpty(Employee.LastName))
        {
            throw new Exception("Last Name cant be empty");
        }
    }
    
    // [Inject]
    // public NavigationManager NavManager { get; set; } = default!;
    public void NavigateToDetails(Employee employee)
    {
        NavManager.NavigateTo($"employeedetail/{employee.EmployeeId}");
    }
}